*{
    box-sizing: border-box;
}

#timer{
    font-size: 1.5rem;
}

#quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: black solid 2px;

};

